<button (click)="demo()">Click vao day</button>
<div class="row">
    <div class="col-12">
        <h4 class="d-inline">Card with Image code icon</h4>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/img1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <div class="row">
                            <div class="col"><i>Hồ Chí Minh</i></div>
                            <div class="col">
                                <ngb-rating [(rate)]="currentRate" max='5' [readonly]="true">
                                    <ng-template let-fill="fill" let-index="index">
                                        <span class="star" [class.filled]="fill === 100"><span class="half"
                                                [style.width.%]="fill">&#9733;</span>&#9733;</span>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                        </div>
                        <div class="row"><a href="#" class="btn btn-primary">Add To Bag</a>
                            <div class="col" style="margin-top: 8px;">400000/1 kg</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/img1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <div class="row">
                            <div class="col"><i>Hồ Chí Minh</i></div>
                            <div class="col">
                                <ngb-rating [(rate)]="currentRate" max='5' [readonly]="true">
                                    <ng-template let-fill="fill" let-index="index">
                                        <span class="star" [class.filled]="fill === 100"><span class="half"
                                                [style.width.%]="fill">&#9733;</span>&#9733;</span>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                        </div>
                        <div class="row"><a href="#" class="btn btn-primary">Add To Bag</a>
                            <div class="col" style="margin-top: 8px;">400000/1 kg</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/img2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <div class="row">
                            <div class="col"><i>Hồ Chí Minh</i></div>
                            <div class="col">
                                <ngb-rating [(rate)]="currentRate" max='5' [readonly]="true">
                                    <ng-template let-fill="fill" let-index="index">
                                        <span class="star" [class.filled]="fill === 100"><span class="half"
                                                [style.width.%]="fill">&#9733;</span>&#9733;</span>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                        </div>
                        <div class="row"><a href="#" class="btn btn-primary">Add To Bag</a>
                            <div class="col" style="margin-top: 8px;">400000/1 kg</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <img class="card-img-top img-responsive" style="height:188px;" src="https://res.cloudinary.com/dnccnn3nx/image/upload/v1585411280/nmeuxcuzg1whpbdn8fz9.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <div class="row">
                            <div class="col"><i>Hồ Chí Minh</i></div>
                            <div class="col">
                                <ngb-rating [(rate)]="currentRate" max='5' [readonly]="true">
                                    <ng-template let-fill="fill" let-index="index">
                                        <span class="star" [class.filled]="fill === 100"><span class="half"
                                                [style.width.%]="fill">&#9733;</span>&#9733;</span>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                        </div>
                        <div class="row"><a href="#" class="btn btn-primary">Add To Bag</a>
                            <div class="col" style="margin-top: 8px;">400000/1 kg</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 img-responsive">
                <div class="card">
                    <img class="card-img-top img-responsive" src="https://res.cloudinary.com/dnccnn3nx/image/upload/v1581133132/sample.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <div class="row">
                            <div class="col"><i>Hồ Chí Minh</i></div>
                            <div class="col">
                                <ngb-rating [(rate)]="currentRate" max='5' [readonly]="true">
                                    <ng-template let-fill="fill" let-index="index">
                                        <span class="star" [class.filled]="fill === 100"><span class="half"
                                                [style.width.%]="fill">&#9733;</span>&#9733;</span>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                        </div>
                        <div class="row"><a href="#" class="btn btn-primary">Add To Bag</a>
                            <div class="col" style="margin-top: 8px;">400000/1 kg</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>