<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="lstick"></span>Projects of the Month</h4>
                <div class="table-responsive">
                    <table class="table vm no-th-brd pro-of-month mb-0 v-middle">
                        <thead>
                            <tr>
                                <th colspan="2">Assigned</th>
                                <th>Name</th>
                                <th>Priority</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:50px;"><span class="round"><img src="assets/images/users/1.jpg"
                                            alt="user" width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Sunil Joshi</h6><small class="text-muted">Web Designer</small>
                                </td>
                                <td>Elite Admin</td>
                                <td>Low</td>
                            </tr>
                            <tr class="active">
                                <td><span class="round"><img src="assets/images/users/2.jpg" alt="user"
                                            width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Andrew</h6><small class="text-muted">Project Manager</small>
                                </td>
                                <td>Real Homes</td>
                                <td>Medium</td>
                            </tr>
                            <tr>
                                <td><span class="round round-success"><img src="assets/images/users/3.jpg" alt="user"
                                            width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Bhavesh patel</h6><small class="text-muted">Developer</small>
                                </td>
                                <td>MedicalPro Theme</td>
                                <td>High</td>
                            </tr>
                            <tr>
                                <td><span class="round round-primary"><img src="assets/images/users/4.jpg" alt="user"
                                            width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Nirav Joshi</h6><small class="text-muted">Frontend Eng</small>
                                </td>
                                <td>Elite Admin</td>
                                <td>Low</td>
                            </tr>
                            <tr>
                                <td><span class="round round-warning"><img src="assets/images/users/5.jpg" alt="user"
                                            width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Micheal Doe</h6><small class="text-muted">Content Writer</small>
                                </td>
                                <td>Helping Hands</td>
                                <td>High</td>
                            </tr>
                            <tr>
                                <td><span class="round round-danger"><img src="assets/images/users/6.jpg" alt="user"
                                            width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Johnathan</h6><small class="text-muted">Graphic</small>
                                </td>
                                <td>Digital Agency</td>
                                <td>High</td>
                            </tr>
                            <tr>
                                <td style="width:50px;"><span class="round"><img src="assets/images/users/1.jpg"
                                            alt="user" width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Sunil Joshi</h6><small class="text-muted">Web Designer</small>
                                </td>
                                <td>Elite Admin</td>
                                <td>Low</td>
                            </tr>
                            <tr class="active">
                                <td><span class="round"><img src="assets/images/users/2.jpg" alt="user"
                                            width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Andrew</h6><small class="text-muted">Project Manager</small>
                                </td>
                                <td>Real Homes</td>
                                <td>Medium</td>
                            </tr>
                            <tr>
                                <td><span class="round round-success"><img src="assets/images/users/3.jpg" alt="user"
                                            width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Bhavesh patel</h6><small class="text-muted">Developer</small>
                                </td>
                                <td>MedicalPro Theme</td>
                                <td>High</td>
                            </tr>
                            <tr>
                                <td><span class="round round-primary"><img src="assets/images/users/4.jpg" alt="user"
                                            width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Nirav Joshi</h6><small class="text-muted">Frontend Eng</small>
                                </td>
                                <td>Elite Admin</td>
                                <td>Low</td>
                            </tr>
                            <tr>
                                <td><span class="round round-warning"><img src="assets/images/users/5.jpg" alt="user"
                                            width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Micheal Doe</h6><small class="text-muted">Content Writer</small>
                                </td>
                                <td>Helping Hands</td>
                                <td>High</td>
                            </tr>
                            <tr>
                                <td><span class="round round-danger"><img src="assets/images/users/6.jpg" alt="user"
                                            width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Johnathan</h6><small class="text-muted">Graphic</small>
                                </td>
                                <td>Digital Agency</td>
                                <td>High</td>
                            </tr>
                            <tr>
                                <td style="width:50px;"><span class="round"><img src="assets/images/users/1.jpg"
                                            alt="user" width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Sunil Joshi</h6><small class="text-muted">Web Designer</small>
                                </td>
                                <td>Elite Admin</td>
                                <td>Low</td>
                            </tr>
                            <tr class="active">
                                <td><span class="round"><img src="assets/images/users/2.jpg" alt="user"
                                            width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Andrew</h6><small class="text-muted">Project Manager</small>
                                </td>
                                <td>Real Homes</td>
                                <td>Medium</td>
                            </tr>
                            <tr>
                                <td><span class="round round-success"><img src="assets/images/users/3.jpg" alt="user"
                                            width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Bhavesh patel</h6><small class="text-muted">Developer</small>
                                </td>
                                <td>MedicalPro Theme</td>
                                <td>High</td>
                            </tr>
                            <tr>
                                <td><span class="round round-primary"><img src="assets/images/users/4.jpg" alt="user"
                                            width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Nirav Joshi</h6><small class="text-muted">Frontend Eng</small>
                                </td>
                                <td>Elite Admin</td>
                                <td>Low</td>
                            </tr>
                            <tr>
                                <td><span class="round round-warning"><img src="assets/images/users/5.jpg" alt="user"
                                            width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Micheal Doe</h6><small class="text-muted">Content Writer</small>
                                </td>
                                <td>Helping Hands</td>
                                <td>High</td>
                            </tr>
                            <tr>
                                <td><span class="round round-danger"><img src="assets/images/users/6.jpg" alt="user"
                                            width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Johnathan</h6><small class="text-muted">Graphic</small>
                                </td>
                                <td>Digital Agency</td>
                                <td>High</td>
                            </tr>
                            <tr>
                                <td style="width:50px;"><span class="round"><img src="assets/images/users/1.jpg"
                                            alt="user" width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Sunil Joshi</h6><small class="text-muted">Web Designer</small>
                                </td>
                                <td>Elite Admin</td>
                                <td>Low</td>
                            </tr>
                            <tr class="active">
                                <td><span class="round"><img src="assets/images/users/2.jpg" alt="user"
                                            width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Andrew</h6><small class="text-muted">Project Manager</small>
                                </td>
                                <td>Real Homes</td>
                                <td>Medium</td>
                            </tr>
                            <tr>
                                <td><span class="round round-success"><img src="assets/images/users/3.jpg" alt="user"
                                            width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Bhavesh patel</h6><small class="text-muted">Developer</small>
                                </td>
                                <td>MedicalPro Theme</td>
                                <td>High</td>
                            </tr>
                            <tr>
                                <td><span class="round round-primary"><img src="assets/images/users/4.jpg" alt="user"
                                            width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Nirav Joshi</h6><small class="text-muted">Frontend Eng</small>
                                </td>
                                <td>Elite Admin</td>
                                <td>Low</td>
                            </tr>
                            <tr>
                                <td><span class="round round-warning"><img src="assets/images/users/5.jpg" alt="user"
                                            width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Micheal Doe</h6><small class="text-muted">Content Writer</small>
                                </td>
                                <td>Helping Hands</td>
                                <td>High</td>
                            </tr>
                            <tr>
                                <td><span class="round round-danger"><img src="assets/images/users/6.jpg" alt="user"
                                            width="50"></span></td>
                                <td>
                                    <h6 class="mb-0">Johnathan</h6><small class="text-muted">Graphic</small>
                                </td>
                                <td>Digital Agency</td>
                                <td>High</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>